<!DOCTYPE html>
<html>
    <head>
        <meta charset=utf-8>
        <meta http-equiv="X-UA-Compatible" content="IE-edge">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <title>eFEX Visualiser</title>
        <!-- stylesheets -->
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <!-- Objects to draw -->
        <div id="inputs">
        eFEX Visualiser
        <form action="/" method="post" id="inputform">
            File: <input name="file" value="<%=defaults[0]%>"> (absolute path or relative to source dir)<br>
            Event number: <input name="eventNum" value="<%=defaults[1]%>"> (0 indexed)<br>
            Eta: <input name="eta" value="<%=defaults[2]%>"> (in range 0-5)<br>
            Phi: <input name="phi" value="<%=defaults[3]%>"> (in range 1-8)<br>
            Default layer:
            <select name="defLayer" id="layerdropdown">
                <option value=-1>All</option>
                <option value=0>0</option>
                <option value=1>1</option>
                <option value=2>2</option>
                <option value=3>3</option>
                <option value=4>4</option>
            </select><br>
            Default highlight:
            <select name="defHigh" id="highlightdropdown">
                <option value=0>None</option>
                <option value=1>EM Cluster</option>
                <option value=2>R_eta</option>
                <option value=3>R_had</option>
                <option value=4>W_s,tot</option>
                <option value=5>Tau Cluster</option>
                <option value=6>Tau R_eta</option>
                <option value=7>Tau R_had</option>
            </select><br>
            Default units:
            <select name="energyUnit" id="energydropdown">
                <option value=0>25 MeV units</option>
                <option value=1>GeV</option>
            </select><br>
            <button type="submit" value="btnGo" name="submit">Go</button>
            <button type="submit" value="btnPrevEvent" name="submit">Previous Event</button>
            <button type="submit" value="btnNextEvent" name="submit">Next Event</button>
        </form>
        </div>
        <br>
        <div id="visualisation">
            <div id="LayerView">
                <div id="LayerViewControls">
                    <div id="SeedSelect">
                        <button onclick="seedSelectStart()" id="btnSeedSelect">Select seed</button>
                    </div>
                    <div id="LayerSelect">
                        <button onclick="setLayer(-1)" class="layerBtn">All layers</button>
                        <button onclick="setLayer(0)" class="layerBtn">Layer 0</button>
                        <button onclick="setLayer(1)" class="layerBtn">Layer 1</button>
                        <button onclick="setLayer(2)" class="layerBtn">Layer 2</button>
                        <button onclick="setLayer(3)" class="layerBtn">Layer 3</button>
                        <button onclick="setLayer(4)" class="layerBtn">Layer 4</button>
                    </div>
                    <div id="EnergyUnit">
                        Energy units: 
                        <select id="energydropdown2" onchange="updateEnergyUnit(this)">
                            <option value=0>25 MeV units</option>
                            <option value=1>GeV</option>
                        </select>
                    </div>
                </div>
                <div id="SeedSelectText">
                </div>
                <div id="SeedSelectControls">
                    <button onclick="cancelSeedSelect()">Cancel</button>
                    <button onclick="restartSeedSelect()">Restart</button>
                    <button onclick="submitSeedSelect()" id="btnSubmitSS">Done</button>
                </div>
                <div id="LayersTable">
                    <div id="leftLabels">
                        <div id="phiLabels">
                            <div class="philabel">
                                phi=<%=parseInt(defaults[3])-1%>
                            </div>
                            <div class="philabel">
                                phi=<%=parseInt(defaults[3])%>
                            </div>
                            <div class="philabel">
                                phi=<%=parseInt(defaults[3])+1%>
                            </div>
                        </div>
                        <div id="layerLabels">
                            layer 
                            <div id="llRow1" class="llRow">
                                <div id="ll0" class="llbl">0</div>
                                <div id="ll1" class="llbl">1</div>
                                <div id="ll2" class="llbl">2</div>
                                <div id="ll3" class="llbl">3</div>
                                <div id="ll4" class="llbl">4</div>
                            </div>
                            <div id="llRow2" class="llRow">
                                <div id="ll0" class="llbl">0</div>
                                <div id="ll1" class="llbl">1</div>
                                <div id="ll2" class="llbl">2</div>
                                <div id="ll3" class="llbl">3</div>
                                <div id="ll4" class="llbl">4</div>
                            </div>
                            <div id="llRow3" class="llRow">
                                <div id="ll0" class="llbl">0</div>
                                <div id="ll1" class="llbl">1</div>
                                <div id="ll2" class="llbl">2</div>
                                <div id="ll3" class="llbl">3</div>
                                <div id="ll4" class="llbl">4</div>
                            </div>
                        </div>
                    </div>
                    <div id="GeneratedLayers">
                    </div>
                    <div id="rightLabels">
                    </div>
                </div>
                <div id="etaContainer">
                    <div class="etaFiller">
                    </div>
                    <div id="etaLabels">
                        <div class="etalabel">
                            eta=<%=parseInt(defaults[2])-1%>
                        </div>
                        <div class="etalabel">
                            eta=<%=parseInt(defaults[2])%>
                        </div>
                        <div class="etalabel">
                            eta=<%=parseInt(defaults[2])+1%>
                        </div>
                    </div>
                    <div class="etaFiller">
                    </div>
                </div>
            </div>
            <div id="IsoInfo">
                <div id="IsolationText">
                    Click on a quantity to highlight SuperCells:
                </div>
                <div id="EmIsoValues">
                    <div class="IsoVal" id="EMClusterSum" onclick="EMClusHighlight()">
                        EM Cluster:<br>
                        <div id="EMClusterValue"></div>
                    </div>
                    <div class="IsoVal" id="Reta" onclick="RetaHighlight()">
                        R_eta:<br>
                        <div id="RetaValue"></div>
                    </div>
                    <div class="IsoVal" id="Rhad" onclick="RhadHighlight()">
                        R_had:<br>
                        <div id="RhadValue"></div>
                    </div>
                    <div class="IsoVal" id="Wstot" onclick="WstotHighlight()">
                        W_s,tot:<br>
                        <div id="WstotValue"></div>
                    </div>
                </div>
                <div id="TauIsoValues">
                    <div class="IsoVal" id="TauClusterSum" onclick="TauClusHighlight()">
                        Tau Cluster:<br>
                        <div id="TauClusterValue"></div>
                    </div>
                    <div class="IsoVal" id="TauReta" onclick="TauRetaHighlight()">
                        Tau R_eta:<br>
                        <div id="TauRetaValue"></div>
                    </div>
                    <div class="IsoVal" id="TauRhad" onclick="TauRhadHighlight()">
                        Tau R_had:<br>
                        <div id="TauRhadValue"></div>
                    </div>
                </div>
            </div>
        </div>
    <script>
        let data = "<%=data%>"
        let layerDefault = <%=defaults[4]%>
        let highlightDefault = <%=defaults[5]%>
        let energyUnit = <%=defaults[6]%>
    </script>
    <script type=text/javascript src="supercell.js"></script>
    <script type=text/javascript src="layer.js"></script>
    <script type=text/javascript src="tower.js"></script>
    <script type=text/javascript src="towerarray.js"></script>
    <script type=text/javascript src="main.js"></script>
    </body>
</html>
