#visualisation
{
    display: none;
}

#LayerViewControls
{
    margin: 10px 0;
    display: flex;
}

#LayerSelect
{
    width: min(200px, 50vw)
    display: flex;
    justify-content: space-around;
    justify-self: center;
}

#SeedSelect, #EnergyUnit
{
    Flex: 1;
}

#EnergyUnit
{
    display: flex;
    justify-content: flex-end;
}

#SeedSelectText
{
    display: flex;
    justify-content: center;
}

#SeedSelectControls
{
    display: flex;
    justify-content: space-around;
    margin: 2px 35%;
}

#IsoInfo
{
    margin: 10px 25%;
}

#LayersTable
{
    display: flex;
}

#leftLabels, #rightLabels
{
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

#GeneratedLayers, #phiLabels
{
    display: flex;
    flex-direction: column-reverse;
}

.philabel
{
    height: min(160px, 20vw);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 50px;
}

#layerLabels
{
    text-align: center;
}

.llRow
{
    height: min(160px, 20vw);
    display: flex;
    flex-direction: column-reverse;
    padding: 0px 20px;
    border: 2px solid white;
}

.llbl
{
    flex: 1;
    display: flex;
    align-items: center;
}

#etaContainer
{
    display: flex;
}

.etaFiller
{ 
    flex: 1;
}

#etaLabels
{
    display: flex;
    margin: 15px 0;
    width: min(600px, 75vw);
}

.etalabel
{
    width: min(200px, 25vw);
    display: flex;
    align-items: center;
    justify-content: center;
}

#IsolationText
{
    display: flex;
    justify-content: center;
}

#EmIsoValues
{
    display: flex;
    justify-content: space-evenly;
}

#TauIsoValues
{
    display: flex;
    justify-content: space-evenly;
}

.IsoVal
{
    border: 1px solid black;
    align-text: center;
    flex: 1;
    margin: 4px;
    padding: 2px;
}

.TowerRow
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.Tower
{
    width: min(200px, 25vw);
    height: min(160px, 20vw);
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    justify-content: center;
}

.CaloLayer
{
    width: 100%;
    flex: 1;
}

.SCRow
{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.SuperCell
{
    flex: 1;
    line-height: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
